# Комментарий: игнорируем скомпилированный код
*.o
*.exe

# Игнорируем папки зависимостей
node_modules/
venv/

# Игнорируем файлы конфигурации
config.ini
.env

# Игнорируем логи
*.log

# Игнорируем системные файлы macOS
.DS_Store